@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    F 902, Mera Homes<br />
    Whitefield Road<br />
    <abbr title="Phone">Mobile:</abbr>
     +91 9901577500
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:a4arun131@gmail.com">Support@example.com</a>
</address>