@model MVCFunLearn.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var classname = Model.Customers.Count > 0 ? "popular" : null;
}

@*<h2>@Model.Name</h2>*@

<h2 class="@classname">@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
    <li>No one has rented this movie before.</li>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}



